.widget-item {
  background: rgba(255, 255, 255, 0.5);
  height: 40px;
  border: 1px solid transparent;
  border-radius: 4px;
  @include transition();
  @include input-border();
  @include flex-center();
  cursor: pointer;
  user-select: none;
  display: flex;

  .title {
    width: 81px;
    text-align: center;
  }
}
