.question-list {
  display: flex;
  flex-direction: column;
  @include main-card();

  .search-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 30px;

    .title {
      display: inline-block;
      width: max-content;
      margin: 0;
    }
  }

  .list {
    height: calc(100% - 50px);
    overflow: auto;

    .load-more-wrap {
      height: 40px;
      width: 100%;
      text-align: center;
      @include flex-center();
    }
  }
}

.loading {
  width: 100%;
  height: 100%;
}

.question-card {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;

  .divider {
    margin: 5px 0;
  }

  .title-wrap {
    margin: 0;
    @include flex-center(flex-start);

    .star {
      margin: 0 8px 0 0;
    }

    .title {
      font-size: 20px;
      @include antd-transition();
      cursor: pointer;

      &:hover {
        color: var(--ant-color-primary);
        text-decoration: underline;
      }
    }
  }

  .answer-count {
    display: inline-block;
    text-align: right;
    min-width: 30px;
  }
}
