.manager-layout {
  display: flex;
  margin: 0 10%;
  width: 80%;
  height: 100%;

  .menu {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 150px;

    .add-btn {
    }

    .divider {
      margin: 12px 0;
    }

    .btn {
      width: 100%;
    }
  }

  .content {
    padding: 20px;
    width: calc(100% - 140px);
  }
}
