.analysis-pane {
  width: 400px;
  margin-left: 20px;
  background: palegoldenrod;
  @include base-card();
  @include transition(0.7s);

  &:global(.hidden) {
    opacity: 0;
    width: 0px;
    padding: 0px;
    margin-left: 0px;
  }

  .title {
    margin-bottom: 10px;
    @include flex-center(space-between);

    .pane-name {
      margin: 0;
    }

    .close-btn {
      background: var(--ant-button-text-hover-bg);
    }
  }

  .loading {
    margin-top: 40px;
  }

  .content {
    width: 100%;
    height: 400px;
  }
}
