.data-pane {
  flex: 1;

  margin-left: 20px;
  background: paleturquoise;
  @include base-card();
  @include transition(0.7s);

  .chart-area {
    display: flex;
    margin-bottom: 10px;

    .kpi,
    .chart {
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      background: rgba($color: #ffffff, $alpha: 1);
    }
  }
}
