$header-h: 60px;

.quesion-layout {
  height: 100vh;
  width: 100vw;
  min-width: 1220px;
  background: url('../../assets/image/appBg.svg');

  .header {
    height: $header-h;
    background: transparent;
    padding: 10px 20px;
    @include forsted-glass();
    @include box-shadow();
    @include flex-center(space-between);

    .back-btn {
      height: 100%;
      background: rgba(0, 0, 0, 0.06);
    }

    .top-area {
      width: calc(100% - 46px);
      height: 100%;
    }
  }

  .main {
    width: 100%;
    height: calc(100% - $header-h);
  }
}
