.question-canvas-area {
  /* 减去左边pane和右边pane宽度
  =========================================== */
  width: calc(100% - 300px - 400px);
  @include flex-center();

  .canvas {
    width: 430px;
    height: 90%;
    background: white;
    padding: 10px;
    overflow: auto;

    > .widget-wrap {
      border: 2px solid transparent;
      padding: 8px;
      margin-bottom: 10px;
      @include transition();
      cursor: pointer;

      &:hover {
        border-color: #ffbb6e;
      }

      &.active {
        border-color: #f4801a;
      }

      > .mask-wrap {
        pointer-events: none;
        user-select: none;
      }
    }
  }
}
