.question-manager,
.star-question {
  height: 100%;
  @include antd-transition();
}

.recycle-bin {
  @include main-card();

  .search-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 30px;

    .title {
      display: inline-block;
      width: max-content;
      margin: 0;
    }
  }

  .operate-btns {
    margin-bottom: 10px;
  }

  .list {
    overflow: auto;
  }
}
